{% extends "base.html" %}
{% load i18n crispy_forms_tags static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="bg-base shadow-effect p-4 rounded-4 my-2">
        <div class="text-center">
          {% trans "Password recovery completed. Your password has been saved. You may now sign in." %}
        </div>
        <a href="{% url 'login' %}" class="btn btn-brand w-100">{% trans "Sign in" %}</a>
      </div>
    </div>
  </div>
{% endblock content %}
