{% load i18n static %}
<!DOCTYPE html>
<html lang={{ request.LANGUAGE_CODE }}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css"
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css"
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block css %}
        {% endblock css %}
        <title>
            {% block title %}
                Autodealer
            {% endblock title %}
        </title>
    </head>
    <body>
        {% include "inc/navbar.html" %}
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == "success" %}alert-success{% elif message.tags == "error" %}alert-danger pb-0{% elif message.tags == "info" %}alert-info pb-0{% elif message.tags == "warning" %}alert-warning pb-0{% endif %} alert-dismissible fade show mt-2 mb-0"
                         role="alert">
                        {{ message }}
                        <button id="btn_close"
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
                <script src="{% static 'js/close_alert.js' %}"></script>
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
        {% block js %}
        {% endblock js %}
        <script defer
                src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
    </body>
</html>
