{% extends "base.html" %}
{% load i18n crispy_forms_tags humanize %}
{% block title %}
    {% trans "Brand information" %}
{% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 gy-3 g-3 mt-0 mb-2">
            <div class="bg-base p-4 rounded-4 my-2 text-center">
                <img src="{{ brand.logo.url }}"
                     class="rounded-4"
                     width="100"
                     height="100"
                     alt="{{ brand.name }}" />
                <h1 class="display-5 fw-bold">{{ brand.name }}</h1>
                <h1 class="display-6 fw-bold">{{ brand.country }}</h1>
            </div>
        </div>
    </div>
    {% for car in brand.car_set.all %}
        {% if forloop.first %}<div class="row justify-content-center">{% endif %}
            <div class="col-lg-8 gy-3 g-3 mt-0 mb-3 col-xl-6">
                <div class="card-custom bg-base shadow-effect rounded-4 text-center">
                    <div class="row">
                        <div class="col">
                            <div class="card-custom-image rounded-4 mt-3">
                                <img src="{{ car.photo_set.first.photo.url }}"
                                     class="rounded-4"
                                     width="500"
                                     height="300"
                                     alt="{{ car.name }}" />
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>{{ car.car_model }}</h4>
                                <p>
                                    {{ car.price|intcomma }} <i class="fa-solid fa-ruble-sign"></i>
                                </p>
                                <a href="{% url 'car' car.id %}" class="link-custom">{% trans "See more" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
            {% endif %}
            {% if forloop.last %}</div>{% endif %}
    {% endfor %}
{% endblock content %}
