{% extends "base.html" %}
{% load i18n crispy_forms_tags humanize static %}
{% block title %}
    {% trans "Car information" %}
{% endblock title %}
{% block css %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
{% endblock css %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 gy-3 g-3 mt-0 mb-2">
            <div class="card-custom bg-base rounded-4 text-center">
                <div class="row">
                    <div class="col">
                        <div class="mt-3">
                            <div class="swiper mySwiper sw-color">
                                <div class="swiper-wrapper">
                                    {% for img in car.photo_set.all %}
                                        <div class="swiper-slide">
                                            <img src="{{ img.photo.url }}"
                                                 class="rounded-4"
                                                 width="800"
                                                 height="450"
                                                 alt="{{ car.name }}" />
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-button-prev ms-4 ps-4"></div>
                                <div class="swiper-button-next me-4 pe-4"></div>
                            </div>
                        </div>
                        <div class="card-custom-content p-4 text-start">
                            <h1>{{ car.car_brand.name }} {{ car.car_model }}</h1>
                            <h5>
                                <span style="color: #deff58">{% trans "Price" %}:</span>
                                {{ car.price|intcomma }} <i class="fa-solid fa-ruble-sign"></i>
                            </h5>
                            <h5>
                                <span style="color: #deff58">{% trans "Body type" %}:</span>
                                {{ car.body_type }}
                            </h5>
                            <h5>
                                <span style="color: #deff58">{% trans "Year" %}:</span>
                                {{ car.year }}
                            </h5>
                            <h5>
                                <span style="color: #deff58">{% trans "Transmission" %}:</span>
                                {{ car.transmission }}
                            </h5>
                            <h5>
                                <span style="color: #deff58">{% trans "Number of gears" %}:</span>
                                {{ car.number_of_gears }}
                            </h5>
                            <h5>
                                <span style="color: #deff58">{% trans "Drive unit" %}:</span>
                                {{ car.drive_unit }}
                            </h5>
                            <h5>
                                <span style="color: #deff58">{% trans "Engine type" %}:</span>
                                {{ car.engine_type }}
                            </h5>
                            <h5>
                                <span style="color: #deff58">{% trans "Working volume" %}:</span>
                                {{ car.working_volume }}
                            </h5>
                            <h5>
                                <span style="color: #deff58">{% trans "Engine power" %}:</span>
                                {{ car.engine_power }}
                            </h5>
                            <h5>
                                <span style="color: #deff58">{% trans "Amount" %}:</span>
                                {{ car.amount }}
                            </h5>
                            <h5>
                                <span style="color: #deff58">{% trans "Equipment" %}:</span>
                                <a href="#"
                                   class="link-custom"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#equipment_collapse">{{ car.equipment_name }}</a>
                                <div class="collapse" id="equipment_collapse">
                                    <div class="card p-4 mt-2"
                                         style="background-color: #022a30;
                                                color: #b6cbce">{{ car.equipment_description }}</div>
                                </div>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 gy-3 g-3 mt-0 mb-2">
            <div class="bg-base shadow-effect p-4 rounded-4 my-2 text-center">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'test_drive' %}">
                        <button class="btn btn-brand w-100">{% trans "Request for test-drive" %}</button>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="link-custom">{% trans "Log in " %}</a>{% trans "if you want to take a test drive" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'js/next_slide.js' %}"></script>
{% endblock js %}
